<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <YReport.Properties.Settings>
            <setting name="TemplatePath" serializeAs="String">
                <value />
            </setting>
            <setting name="MReportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="YReportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MBeginRow" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="MBeginCol" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="YBeginRow" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="YBeginCol" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ExecutedYear" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RMonth" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="RDay" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="RHour" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="RMin" serializeAs="String">
                <value>59</value>
            </setting>
            <setting name="RSec" serializeAs="String">
                <value>50</value>
            </setting>
        </YReport.Properties.Settings>
    </userSettings>
</configuration>